*
{
    margin: 0;
    padding: 0;
}
li
{
    list-style: none;
}
body
{
    position: absolute;

    width: 100%;
    height: 100%;
border-radius: 10px;
}
.main-app
{
    width: 100%;
    padding-top: 80px;
}
header
{
    font-size: 22px;

    position: fixed;

    width: 100%;
    height: 80px;

    text-indent: 30px;

    color: #fff;
    background: #000;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
}
.icon-angular-logo
{
    position: relative;

    display: inline-block;
    width: 60px;
    height: 100%;

    vertical-align: middle;
    text-indent: 0;
}



.icon:before,
.icon:after
{
    content: '';
    display: block;
}
.icon-center:before,
.icon-center:after,
.icon-mid:before,
.icon-mid:after,
.icon-center-mid:before,
.icon-center-mid:after,
.icon-mid-center:before,
.icon-mid-center:after
{
    position: absolute;

    content: '';
}
.icon-center:before,
.icon-center:after
{
    right: 0;
    left: 0;

    margin-right: auto;
    margin-left: auto;
}
.icon-mid:before,
.icon-mid:after
{
    top: 0;
    bottom: 0;

    margin-top: auto;
    margin-bottom: auto;
}
.icon-mid-center:before,
.icon-center-mid:before,
.icon-mid-center:after,
.icon-center-mid:after,
{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
}