.icon-word:after
{
    background-position: 0 0;
}
.icon-excel:after
{
    background-position: -64px 0;
}
.icon-powerpoint:after
{
    background-position: 0 -64px;
}
.icon-access:after
{
    background-position: -64px -64px;
}
.icon-onenote:after
{
    background-position: 0 -128px;
}
.icon-outlook:after
{
    background-position: -128px 0;
}
.icon-publisher:after
{
    background-position: -128px -64px;
}
.icon-angular-logo:after
{
    width: 50px;
    height: 50px;

    background: no-repeat;background-position: -64px -128px;
}




/* ../../images/sprite.png */
.icon-word:after,
.icon-excel:after,
.icon-powerpoint:after,
.icon-access:after,
.icon-onenote:after,
.icon-outlook:after,
.icon-publisher:after,
.icon-angular-logo:after{
background-image: url(../../images/sprite.png);
background-image: -webkit-image-set(url(../../images/sprite.png) 1x, url(../../images/sprite@2x.png) 2x); background-image: -moz-image-set(url(../../images/sprite.png) 1x, url(../../images/sprite@2x.png) 2x); background-image: -ms-image-set(url(../../images/sprite.png) 1x, url(../../images/sprite@2x.png) 2x); background-image: image-set(url(../../images/sprite.png) 1x, url(../../images/sprite@2x.png) 2x);
}
